{% extends "layouts/base.html" %}

{% block title %} All Parents {% endblock%}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="main-content-container container-fluid px-4">
    <!-- Page Header -->
    <div class="page-header row no-gutters py-4">
      <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
        <span class="text-uppercase page-subtitle">Overview</span>
        <h3 class="page-title"> All Parents </h3>
      </div>
    </div>
    <!-- End Page Header -->

     <!-- Default Light Table -->
     <div class="row">
        <div class="col">
          <div class="card card-small mb-4">
            <div class="card-header bg-dark">
                <h6 class="m-0 text-white">Kids Parents</h6>
              </div>
            <div class="card-body p-0 pb-3 text-center">
              <table class="table mb-0">
                <thead class="bg-light">
                  <tr>
                    <th scope="col" class="border-0">#</th>
                    <th scope="col" class="border-0">Parent Names</th>
                    <th scope="col" class="border-0">Email</th>
                    <th scope="col" class="border-0">Phone</th>
                    <th scope="col" class="border-0">Address</th>
                    <th scope="col" class="border-0">Relationship to Child</th>
                    <th scope="col" class="border-0">Class</th>
                  </tr>
                </thead>
                <tbody>
                {% for parent in all_parents %}
                    <tr>
                    <td>{{ parent.index }}</td>
                    <td>{{ parent.first_name }} {{ parent.last_name }}</td>
                    <td>{{ parent.email }}</td>
                    <td>{{ parent.phone_number }}</td>
                    <td>{{ parent.parent_id }}</td>
                    <td>{{ parent.relationship_to_child }}</td>
                    <td> - </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- End Default Light Table -->


</div>

{% endblock content %}